$pg: rgb(62, 234, 202);

.clock{
  text-align: center;
  height: 25vh;
  h1{
    color: $pg;
    font-family: space mono;
    font-weight: 700;
  }
  h3{
    color: #ffffff;
    font-family: space mono;
    font-weight: 400;
  }
}
