.mobNav {
  overflow: scroll;
  height: 145px;
  width: 100%;
  border-radius: 20px;
  background: linear-gradient(135deg, rgba(66, 66, 66, 0.252), rgba(41, 41, 41, 0.348));
  -webkit-backdrop-filter: blur(4.20px);
  display: none;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar width */
  }

  ul {
    list-style: none;
    li {
      width: 90%;
      background-color: rgba(70, 68, 68, 0.376);
      padding: 15px;
      border-radius: 30px;
      margin-bottom: 5px;
      margin-left: -2.5vw;
    }
      a {
        color: white;
        text-decoration: none;
        font-family: 'Space Mono', monospace;

        &:hover {
          color: chartreuse;
        }
      }
      }
    }