$eBlue: #240090;

nav{
  margin-bottom:0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1vh;
  height: 7vh;
  position: sticky;
  top: 0;
  z-index: 50;
  backdrop-filter: blur(3.69px) saturate(6.9);
  -webkit-backdrop-filter: blur(3px) saturate(3);


  .logo{
    font-family: 'space mono';
    text-decoration: none;
    font-size: 3rem;

    #dev{
      color: chartreuse;
    }
    &:hover{
      color:white;
    }
  }
  
  ul li{
    font-family: space mono;
    font-size: 1.25rem;
    display: inline-block;
    margin-right: 2rem;
  }

  a {
    opacity: 1;
    text-decoration: none;
    color:rgb(255, 255, 255);

    &:hover{
      color: chartreuse;
      transition: .6s;
    }
  }
  .mobNav{
    visibility: hidden;
    ul li{
    visibility: hidden;
    }
  }
  button{
    visibility: hidden;
  }
}
@media (max-width: 914px){
    nav{
      z-index: 0;
      height: 6.9vh;
      margin-left: -5vw;
      margin-right: -5vw;
      margin-bottom: 0vw;
      position: sticky;
      .logo{
        margin-left: 2.469vw;
        font-size: 2.25rem;
      }
      ul li{
        visibility: hidden;
      button{
        visibility: visible;
        margin-bottom: 4.5vh;
        font-size: 20px;
      }
    }
      
    }
    }
.mobNav {
  z-index: 1;
  position: absolute;
  right: 0;
  overflow: scroll;
  height: 35vw;
  width: 40%;
  border-radius: 20px;
  background: rgb(41, 41, 41);
  -webkit-backdrop-filter: blur(4.20px);
  display: none;
  margin-right: 4vw;
  &::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar width */
  }

  ul {
    list-style: none;
    li {
      width: 75%;
      background-color: rgba(70, 68, 68, 0.376);
      padding: 15px;
      border-radius: 20px;
      margin-bottom: 5px;
      margin-left: -4.5vw;
    }

    a {
      color: white;
      text-decoration: none;
      font-family: 'Space Mono', monospace;

      &:hover {
        color: chartreuse;
      }
    }
  }
}
