$eBlue: #240090;
$pg: rgb(62, 234, 202);

nav{
  margin-bottom:0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1vh;
  height: 7vh;
  position: sticky;
  top: 0;
  z-index: 50;
  backdrop-filter: blur(3.69px) saturate(6.9);
  -webkit-backdrop-filter: blur(3px) saturate(3);


  .logo{
    font-family: 'space mono';
    text-decoration: none;
    font-size: 2.5rem;

    #dev{
      color: $pg;
    }
    &:hover{
      color:white;
    }
  }
  
  ul li{
    font-family: space mono;
    font-size: 1.25rem;
    display: inline-block;
    margin-right: 2rem;
    translate: 2rem;
  }

  a {
    opacity: 1;
    text-decoration: none;
    color:rgb(255, 255, 255);

    &:hover{
      color: $pg;
      transition: .6s;
    }
  }
  .mobNav{
    visibility: hidden;
    ul li{
    visibility: hidden;
    }
  }
  button{
    display: none;

  }
}
@media (max-width: 914px){
    nav{
      z-index: 0;
      height: 6.9vh;
      margin-left: -5vw;
      margin-right: -5vw;
      margin-bottom: 0vw;
      position: sticky;      
      .logo{
        margin-left: 2.469vw;
        font-size: 2.25rem;
      }
      ul li{
        visibility: hidden;
      button{
        float: right;
        visibility: visible;
        margin-bottom: 4.5vh;
        font-size: 20px;
      }
    }
      
  }
    }
    .mobNav {
      overflow: scroll;
      height: 100%;
      border-radius: 15px;
      background: linear-gradient(135deg, rgba(66, 66, 66, 0.252), rgba(41, 41, 41, 0.348));
      display: none;
      &::-webkit-scrollbar {
        width: 0;  
      }
    
      ul {
        list-style: none;
        margin-bottom: 0px;

        li {
          width: 84%;
          background-color: rgba(70, 68, 68, 0.376);
          padding: 15px;
          border-radius: 15px;
          margin-bottom: 1vw;
          margin-left: -2.5vw;
          text-align: center;
          &:last-child{
            margin-bottom: 0px;
          }
        }
          a {
            color: white;
            text-decoration: none;
            font-family: 'Space Mono', monospace;
    
            &:hover {
              color: chartreuse;
            }
          }
          }
        }
@keyframes fade {
  0%{ opacity: 0;}
  20%{ opacity: 20;}
  40%{ opacity: 40;}
  60%{ opacity: 60;}
  80%{ opacity: 80;}
  100%{ opacity: 100;}

}